<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 추천 홈페이지</title>

</head>
<body>

    <div class="container">
         <div style="text-align : center;"><img src="/static/img/home10.png" alt="홈페이지로고" width="650" height="580" title="홈페이지로고"></div>

        
        <div style="text-align : center;"><button type="button" class="btm_image" id="img_btn" style="border:none; background: none;"><img  src="/static/img/button10.png" width = "70%"></button></div>
         </a>
 
    </div>
 
 </body>
 </html>


