{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '10000hours.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/dc93d60284.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nabvar">
        <div class="navbar__logo">
            <i class="fa-solid fa-face-smile-tongue"></i>
            sdfs
        </div>

        <div class="navbar__menu">
            sdfs
        </div>
        
        <div class="navbar__icons">
                dfd
        </div>
    </nav>
</body>
</html>